.book-detail {

  .book-cover {
    width: 100%;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    display: block;
    margin-bottom: 5px;
    color: #9b4dca;
  }

  .author {
    display: block;
    margin-bottom: 10px;
  }

  .published-date,
  .publisher,
  .pagecount {
    font-size: 12px;
  }

  .description {
    margin: 15px 0;
  }

  .button {
    display: block;
    margin-top: 5px;
  }
}