@import 'Normalize';
@import 'Milligramm';
@import 'Functions';
@import 'Fonts';
@import 'Variables';

body {
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.container {
  margin-top: 10px;
}

.main {
  position: relative;
}

.search-book,
.loader,
.empty-cart {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
}

.search-book {
  background: #fff svg('search') no-repeat center 50px;
  background-size: 300px;
  text-align: center;
  font-size: 32px;
}

.loader {
  background: #fff svg('loader') no-repeat center 50px;
}

.empty-cart {
  background: #fff svg('emptycart') no-repeat center 50px;
  background-size: 300px;
  text-align: center;
  font-size: 32px;
}