.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 970px;

  &:before,
  &::after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}