li.result-item {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  margin-bottom: 10px;

  &:first-child {
    border-top: none;
    padding-top: 0;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    display: block;
    margin-bottom: 5px;
    color: #9b4dca;

    .author {
      margin-left: 5px;
      color: #606c76;
      font-weight: normal;
      font-size: 11px;
    }
  }

  .published-date,
  .publisher,
  .pagecount {
    font-size: 11px;
  }
}