.result {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  height: calc(100vh - 60px);
  z-index: 2;
  background: rgba(255,255,255,.8);
  border: 1px solid #d1d1d1;
  padding: 5px;
  display: none;
  overflow: auto;

  &:hover,
  input:focus + & {
    display: block;
  }

  ul.books {
    list-style: none outside none;
  }
}